<div class="panel panel-default">
  <!--<div class="panel-body">
    Panel content
  </div>-->
  <div class="panel-footer">
      <div class="footerCenter">
         <div class="footerMarginTop"> 
            Restaurant info here <br />
            Address | Map | Group Restaurant <br />
            Something | Something | Something <br />
         </div>
      <br />
      <br />
         Copyright© 2017 La Cueva all right reserved.
      </div>
  </div>
</div>