<div class="panel panel-default">
  <!--<div class="panel-body">
    Panel content
  </div>-->
  <div class="panel-footer">
      <div class="footerCenter">
         <div class="footerMarginTop"> 
            Restaurant info here <br />
            Address | Sister Restaurant | <a href="/googleMap">Map</a><br />
            <a href="https://tabelog.com/en/tokyo/A1320/A132002/13118716/">Tabelog</a> | Something | Something <br />
         </div>
      <br />
      <br />
         Copyright© 2017 TakahiroSuzukiqq all right reserved.
      </div>
  </div>
</div>

