<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Number Of People</th>
      <th>Contact Infomation</th>
    </tr>
  </thead>
  <tbody>
   
      <tr>
        <td>18/Oct/2017</td>
        <td>7:00pm</td>
        <td>Taro Yamada</td>
        <td>2</td>
        <td>00-0000-0001</td>
      </tr>
      <tr>
        <td>17/Oct/2017</td>
        <td>7:30pm</td>
        <td>Jiro Sato</td>
        <td>4</td>
        <td>00-0000-0002</td>
      </tr>
       <tr>
        <td>16/Oct/2017</td>
        <td>8:00pm</td>
        <td>Charlie Puth</td>
        <td>6</td>
        <td>00-0000-0003</td>
      </tr>
      <tr>
        <td>15/Oct/2017</td>
        <td>8:30pm</td>
        <td>Ariana Grande</td>
        <td>2</td>
        <td>00-0000-0004</td>
      </tr>

  </tbody>
</table>