<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' /> 
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
      <br>
      <h2>You are on page <%= title%></h2>
      <h2>Post menu</h2>

      <form action="/post" method="post">
         <br />
         <br />
        <input type="text" class="form-control" name="qa_key_name" placeholder="Enter the menu number">
         <br />
        <textarea class="form-control" rows="3" type="text" name="questionnaire_name" placeholder="Enter the menu name"></textarea>
         <br />
         <p>Upload the menu photo</p>

        <input type="submit">
       </form>
         <br />
         <br />
  </body>
</html>
