<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' /> 
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
      <br>
      <h2>You are on page <%= title%></h2>
  </body>
</html>
