body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*
a {
  color: #00B7FF;
}*/

.notificationTopics{
  color: red;
  margin-left: 80%;
  margin-bottom: 10em; 
}

#thumbnail{
  height: 200px;
  width: 100%;
}

#botThumbnail{
  height: 200px;
  width: 80%;
}
#botImgThumbnail{
   height: 200px;
  width: 60%;
}