body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*
a {
  color: #00B7FF;
}*/

.notificationTopics{
  color: red;
  margin-left: 80%;
  margin-bottom: 10em; 
}

.upperMenuThumbnail{
  margin-top: 4em;
  margin-right: 2em;
  margin-left: 2em;
}

#thumbnail{
  height: 200px;
  width: 100%;
}

#botImgThumbnail{
  height: 200px;
  /*width: 50%;*/
}

.middleMenuTHumbnail{
  margin-bottom: 10em;
  margin-right: 2em;
  margin-left: 2em;
}
.bottomMenuTHumbnail{
  /*height: 200px;
  width: 70%;*/
   margin-right: 2em;
   margin-left: 2em;
   margin-bottom: 20em;
}
/*#botThum
  height: 200px;
  width: 80%;
}*/

/*.blogButtonOne{
  margin-top: 30em;
}*/

.panel-footer{
  background-color: #8d9096;
  height: 200px;
}
.footerCenter{
  text-align: center;
}
.footerMarginTop{
  margin-top: 7ex;
}

.googleMap{
  text-align: center;
}

#GoogleMap{
  height: 300px;
  width: 80%
}