<div class="bottomMenuTHumbnail">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" id="botThumbnail">
        <img src="images/cooking-eat-cut-food.jpg" alt="Public Space" id="botImgThumbnail">
        <div class="caption">
          <h3>XXXXXXXXXX</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            XXXX
          </p>  
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" id="botThumbnail">
        <img src="images/cooking-eat-cut-food.jpg" alt="Public Space" id="botImgThumbnail">
        <div class="caption">
          <h3>XXXXXXXXXX</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            XXXX
          </p>
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" id="botThumbnail">
        <img src="images/cooking-eat-cut-food.jpg" alt="Public Space" id="botImgThumbnail">
        <div class="caption">
          <h3>XXXXXXXXXX</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            XXXX
          </p>
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
</div>