<div class="middleMenuTHumbnail">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="images/pexels-photo-262959.jpeg" alt="Public Space" id="thumbnail">
        <div class="caption">
          <h3>JUICY CHICKEN</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            11.5
          </p>  
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="images/pexels-photo-273773.jpeg" alt="Public Space" id="thumbnail">
        <div class="caption">
          <h3>DONUTS</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            5.0
          </p>
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="images/pexels-photo-302468.jpeg" alt="Public Space" id="thumbnail">
        <div class="caption">
          <h3>SPANISH PUDDING</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            7.0
          </p>
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="images/pexels-photo-109275.jpeg" alt="Public Space" id="thumbnail">
        <div class="caption">
          <h3>FLESH COCKTAIL</h3>
          <p>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            6.5
          </p>
          <p> <a href="#" class="btn btn-default" role="button">Read more...</a></p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
      </div>
  </div>
</div>